body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #222;
    position: relative;
}

#chat{
    outline: 1px solid #ccc;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: end;
    justify-content: start;
    border-radius: 5px;
    height: 90%;
    width: 30%;
}

ul{
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    color: #fff;
    position: relative;
}

li{
    list-style: none;
}

#message_box, #send_button{
    position: absolute;
    bottom: 2%;
    height: 5%;
    border-radius: 10px;
    border: none;
    outline: none;
}

#message_box{
    left: 5%;
    width: 70%;
    text-indent: 10%;
} 

#send_button{
    right: 5%;
    width: 15%;
    background: radial-gradient(circle, rgba(237,57,248,1) 15%, rgba(223,142,248,1) 100%); 
    color: #fff;
}


